
header{
  text-align: center;
}
body{
border: #74bf6d;
border-style: dashed;
background-color: #aedc9c ;
font-family: 'Monaco', monospace;
color: #2f6e2c;
text-align: left;
padding: 10px;
}
button{
  background-color: #d6e7d4;
  border: #74bf6d;
  color:#2f6e2c;
  border-style: dashed;
  cursor: pointer;
}

textarea{
width: 100px;
background-color: #d6e7d4;
border: #74bf6d;
color:#2f6e2c;
border-style: dashed;
}